*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #091921 !important;
    display: flex;
    flex-direction: column;
}

.date h4{
    color: rgba(255,255,255, 0.8);
}
.days{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.days div{
    margin: 0px 10px 0px 10px;
    line-height: 2em;
    text-align: center;
    width: 3em;
    height: 2em;
    color: rgba(255,255,255, 0.8);
    border-radius: 50%;
}
#clock-display{
    color: rgba(255,255,255, 0.8);
}
.alarm-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.alarm-holder select{
    margin: 0px 10px;
    width: 70px;
    height: 30px;
    outline: none;
    border: 1px solid #fff;
    background-color: rgba(255,255,255, 0.9);
    font-weight: bold;
}
.alarm-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.alarm-buttons button{
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    background-color: rgba(255,255,255, 0.8);
    outline: none;
    border: 1px solid #ccc;
    font-weight: 500;
    transition: all ease 500ms;
}
.alarm-buttons button:first-child{
    margin-right: 4px;
}
.alarm-buttons button:last-child{
    margin-left: 4px;
}
.alarm-buttons button:hover{
    color: #ffffffcc;
    background-color: #091921;
    border: 2px solid rgba(255,255,255, 0.8);
    cursor: pointer;
}
.hide{
    display: none;
}